* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #dad7cd;
  --color-title: #6b705c;
  --color-button: #b7b7a4;
  --color-primary: #515546;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-primary);
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  background-color: var(--background);
  height: 100vh;
}

.formArea {
  grid-area: 1 / 1 / 2 / 2;
  padding: 2rem;
  margin: 10rem auto;
  max-width: 600px;
}

h1, h5 {
  color: var(--color-title);
}

.formArea form {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
}

.formArea label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.formArea label input {
  padding: 10px;
  width: 90%;
  margin-top: 4px;
  border-radius: 6px;
}

.formArea button {
  margin-top: 20px;
  background-color: var(--color-button);
  padding: 10px;
  max-width: 90%;
  border-radius: 6px;
  font-weight: 600;
}

.imageArea { 
  grid-area: 1 / 2 / 2 / 3;
  top: fixed;
  background-image: url(../assets/clothes-hanger.jpg);
  background-size: cover;
  background-position-y: -10rem;
  background-repeat: no-repeat;
}